.field {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__label {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 5px;
    }

    &__input,
    &__button {
        font-size: 16px;
        line-height: 28px;
        padding: 8px 16px;
        width: 100%;
        box-sizing: border-box;
        min-height: 44px;
        border: unset;
        border-radius: 4px;
        outline-color: $outline-color;
        background-color: $main-color;
        box-shadow: $shadow-color;
    }

    &__button {
        background-color: $bg-blue;
        color: $main-color;
        font-weight: 600;
        cursor: pointer;

        &_err {
            color: inherit;
            background-color: inherit;

            &:active {
                background-color: inherit;
            }
        }
    }
}

.form {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btns {
    display: flex;
    gap: 30px;

    &__btn {
        max-width: 95px;
    }
}

.delete {
    margin-bottom: 30px;
}

.status {
    background-color: $bg-status;
    color: $main-color;
    padding: 6px 20px;
    border-radius: 5px;
    width: max-content;
    font-size: 1rem;
    margin: 10px 0;
}

.feedback {
    color: $color-feedback;
    font-size: 1rem;
}

.details {
    &__div {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin-left: 25px;
        margin-bottom: 10px;
    }

    &-view {
        flex-direction: column;

        &__title {
            text-align: center;
        }

        &__block {
            flex-direction: row;
            max-width: 100%;
            justify-content: space-evenly;

            &_info {
                max-width: 40%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: flex-start;
            }
        }
    }
}
