@media (max-width: 1024px) {
    .item {
        width: 35%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 20px;
    }

    .item {
        &__img {
            width: 120px;
            height: 160px;
        }

        &__info_rating {
            flex-direction: column;
        }
    }

    .icons__item {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 550px) {
    body {
        font-size: 18px;
    }

    .header {
        flex-direction: column;
        gap: 5px;
    }

    .item {
        width: 65%;
    }

    .create-section {
        padding: 0 5px;
    }
}

@media (max-width: 360px) {
    body {
        font-size: 16px;
    }
}
