body {
    background-color: $main-color;
    color: $main-dark-color;
    font-size: 24px;
    line-height: 130%;
    font-family: "Manrope", sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 2rem;
    line-height: 115%;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

button:active {
    position: relative;
    top: 1px;
    background-color: $main-dark-color;
}

.main {
    padding: 5%;
    overflow: hidden;
}

.catalog {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 30px;
}

.item {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 20px;

    &:hover {
        transform: scale(1.05);
        transition: 0.5s;
        box-shadow: $shadow-hover;
    }

    &__title {
        text-align: center;
        font-size: 1.2rem;
    }

    &__desc {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

    &__category {
        font-size: 0.8rem;
        line-height: 1;
        padding: 5px 9px;
        background-color: $bg-status;
        font-weight: 600;
        border-radius: 5px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;

        &_rating {
            font-size: 0.95rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-direction: row;
        }
    }
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__item:hover path {
        fill: $bg-blue;
    }
}

.view {
    display: flex;
    justify-content: space-around;

    &__category {
        font-size: 1.1rem;
        padding: 10px 15px;
    }

    &-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        max-width: 50%;
    }
}
.header {
    display: flex;
    justify-content: space-between;

    &__item {
        font-size: 1.4rem;
    }
}
