$main-color: rgb(255, 255, 255);
$main-dark-color: #282a2b;
$outline-color: rgb(84 105 212 / 0.5);
$bg-blue: rgb(84, 105, 212);
$bg-status: #7f9bab;
$color-feedback: red;

$shadow-hover: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-color: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
